
<form action = "/wizard_add">
 
 <div>
 <label for="first_num">Add this:</label>
 <input id="first_num" name="first">
</div>

<div>

 <label for="second_num">to this:</label>
 <input id="second_num" name="second">
 </div>

 <button>
    Add!
  </button>

</form>