
<form action = "/wizard_sub">
 
 <div>
 <label for="first_num">Subtract this:</label>
 <input id="first_num" name="first">
</div>

<div>

 <label for="second_num">from this:</label>
 <input id="second_num" name="second">
 </div>

 <button>
    Subtract!
  </button>

</form>